<!DOCTYPE html>
<html lang="en">
<head>
    <title>SINA DEMO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <h1><a>SINA DEMO</a></h1>
    </div>
    <!--close-Header-part-->
    <!--导航栏及头部-->
    <div id="sina_side_Header_part">
    </div>
    <!--close-导航栏及头部-->
    <!--内容页-->
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
            <h1>交易创建</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>同步请求结果展示页面</h5>
                        </div>
                        <div id="result" class="widget-content"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box collapsible">
                        <div class="widget-content nopadding">
                            <form class="form-horizontal" name="request_form" id="request_form" novalidate="novalidate">
                                <div class="widget-title">
                                    <a href="#collapseTwo" data-toggle="collapse">
                                        <span class="icon"><i class="icon-eye-open"></i></span>
                                        <h5>基本参数部分</h5>
                                    </a>
                                </div>
                                <div class="collapse" id="collapseTwo">
                                    <div class="widget-content"> <div id="basicparameter"></div> </div>
                                </div>
                                <div class="widget-title">
                                    <a href="#collapseOne" data-toggle="collapse">
                                        <span class="icon"><i class="icon-arrow-down"></i></span>
                                        <h5>业务参数部分</h5>
                                    </a>
                                </div>
                                <div class="collapse in" id="collapseOne">
                                    <div class="widget-content">
                                        <div class="control-group">
                                            <label class="control-label">商户订单号</label>
                                            <div class="controls">
                                                <input type="text" name="out_trade_no" id="out_trade_no">
                                                <span class="help-inline">商户网站交易订单号，商户内部保证唯一</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">风控参数</label>
                                            <div class="controls">
                                                <input type="text" name="risk_info" id="risk_info">
                                                <span class="help-inline">格式为JSON，根据商品类目上送指定的风控参数，详情请参考“风控参数”</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">设备信息</label>
                                            <div class="controls">
                                                <input type="text" name="device_info" id="device_info">
                                                <span class="help-inline">设备信息，格式为JSON，详情请参考如下“终端设备参数”</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">卖家标志</label>
                                            <div class="controls">
                                                <input type="text" name="seller_identity_id" id="seller_identity_id">
                                                <span class="help-inline">用户标志(字母或数字)</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">卖家标志类型</label>
                                            <div class="controls">
                                                <input type="text" name="seller_identity_type" id="seller_identity_type">
                                                <span class="help-block">ID的类型，参考'标志类型'</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">金额</label>
                                            <div class="controls">
                                                <input type="text" name="amount" id="amount">
                                                <span class="help-block">单位为：RMB Yuan。取值范围为[0.01,1000000.00]，精确到小数点后两位。</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">结算时间</label>
                                            <div class="controls">
                                                <input type="text" name="settlement_time" id="settlement_time">
                                                <span class="help-block">
                                                    设置自动结算时间，系统会每隔一段时间扫描该时间，如当前时间大于结算时间，则自动发起结算。
                                                    取值范围：1m～15d。
                                                    m-分钟，h-小时，d-天
                                                    不接受小数点，如1.5d，可转换为36h，如果为空或0，则付款完成以后立即结算
                                                </span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">交易关闭时间</label>
                                            <div class="controls">
                                                <input type="text" name="trade_close_time" id="trade_close_time">
                                                <span class="help-inline">
                                                    设置未付款交易的超时时间，一旦超时，该笔交易就会自动被关闭。取值范围：1m～15d。
                                                    m-分钟，h-小时，d-天。不接受小数点，如1.5d，可转换为36h。如果是代收完成交易，则该关闭时间指冻结成功前有效时间。
                                                </span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">是否允许再次发起</label>
                                            <div class="controls">
                                                <label>
                                                    <input type="checkbox" name="can_repay_on_failed" value="Y" />
                                                    是
                                                </label>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">分账列表</label>
                                            <div class="controls">
                                                <input type="text" name="split_list" id="split_list">
                                                <span class="help-block">详见“分账信息条目定义”， 参数间用“^”分隔，各条目之间用“|”分隔，备注信息不要包含特殊分隔符</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">商品编号</label>
                                            <div class="controls">
                                                <input type="text" name="goods_id" id="goods_id">
                                                <span class="help-block">需要使用扫码支付时，必填否则扫码支付不可用，其他支付方式可不填。</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">商品名称</label>
                                            <div class="controls">
                                                <input type="text" name="goods_name" id="goods_name">
                                                <span class="help-block">同上，扫码支付必填</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">商品数量</label>
                                            <div class="controls">
                                                <input type="text" name="goods_num" id="goods_num">
                                                <span class="help-block">同上，扫码支付必填</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">商品价格</label>
                                            <div class="controls">
                                                <input type="text" name="goods_price" id="goods_price">
                                                <span class="help-block">同上，扫码支付必填</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">设备mac地址</label>
                                            <div class="controls">
                                                <input type="text" name="device_id" id="device_id">
                                                <span class="help-block">用户在商户APP下单的时候的mac地址用于风控校验</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">支付方式</label>
                                            <div class="controls">
                                                <input type="text" name="pay_method" id="pay_method">
                                                <span class="help-block">参考：'支付方式扩展'格式：支付方式^金额^扩展|支付方式^金额^扩展。扩展信息内容以“，”分割，针对不同支付方式的扩展定义见附录。 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">提交</button>
                                    <input id="reset" type="reset" class="btn btn-primary" value="刷新">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--close-内容页-->
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"></div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="Scripts/sina_tools.js"></script>
    <script src="Scripts/sina_api.js"></script>
    <script>
        //载入导航栏与头部
        $("#sina_side_Header_part").load("sina_side_Header_part.html");
        //载入基本参数页面
        $("#basicparameter").load("basicparameter.html");
    </script>
    <script src="js/jquery.validate.js"></script>
    <script>
        //业务参数赋值
        $("#amount").val("1.00");//金额
        $("#goods_id").val("1");//商品编号
        $("#goods_name").val("测试商品");//商品名称
        $("#goods_price").val("1.00");//商品价格
        $("#goods_num").val("1");//商品数量
        $("#product_desc").val("商品描述");//商品描述
        $("#device_id").val("80-A5-89-23-9C-07");//设备地址
        $("#seller_identity_id").val("200009166771");
        $("#seller_identity_type").val("MEMBER_ID");
        $("#buyer_identity_type").val("UID");
        $("#out_trade_no").val(getNowFormatDate());//商户订单号
        $("#pay_method").val("online_bank^1.00^TESTBANK,DEBIT,C");//默认支付方式
         //表单验证
        $("#request_form").validate({
            rules: {
                //基本参数验证部分
                service: {
                    required: true
                },
                version: {
                    required: true
                },
                request_time: {
                    required: true
                },
                partner_id: {
                    required: true
                },
                _input_charset: {
                    required: true
                },
                sign_type: {
                    required: true
                },
                //业务参数验证部分
                identity_id: {
                    required: true
                },
                identity_type: {
                    required: true
                },
                start_time: {
                    required: true,
                    number: true,
                    minlength: 14,
                    maxlength: 14,
                },
                end_time: {
                    required: true,
                    number: true,
                    minlength: 14,
                    maxlength: 14,
                },
                page_size: {
                    number: true,
                    maxlength: 2,
                },
                page_no: {
                    number: true,
                },
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
                $(element).parents('.control-group').addClass('success');
            },
            submitHandler: function (form) {
                //需要加密的参数数组
                var Encryptionstr = [""];
                send(Encryptionstr);
            }
        })
    </script>
</body>
</html>
