<!DOCTYPE html>
<html lang="en">
<head>
    <title>SINA DEMO</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
    <link rel="stylesheet" href="css/matrix-style.css" />
    <link rel="stylesheet" href="css/matrix-media.css" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <h1><a>SINA DEMO</a></h1>
    </div>
    <!--close-Header-part-->
    <!--导航栏及头部-->
    <div id="sina_side_Header_part">
    </div>
    <!--close-导航栏及头部-->
    <!--内容页-->
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a></div>
            <h1>交易查询</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>同步请求结果展示页面</h5>
                        </div>
                        <div id="result" class="widget-content">
                            <div id="error_msg" class="alert alert-error hidden">
                                <h4 class="alert-heading">Error!</h4>
                                每页记录数不超过20；
                                交易号和时间至少一项存在，同时存在以交易号为准；
                                开始时间和结束时间须同时存在。
                                当交易订单号为空时，用户标志和标志类型不能为空。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget-box collapsible">
                        <div class="widget-content nopadding">
                            <form class="form-horizontal" name="request_form" id="request_form" novalidate="novalidate">
                                <div class="widget-title">
                                    <a href="#collapseTwo" data-toggle="collapse">
                                        <span class="icon"><i class="icon-eye-open"></i></span>
                                        <h5>基本参数部分</h5>
                                    </a>
                                </div>
                                <div class="collapse" id="collapseTwo">
                                    <div class="widget-content"> <div id="basicparameter"></div> </div>
                                </div>
                                <div class="widget-title">
                                    <a href="#collapseOne" data-toggle="collapse">
                                        <span class="icon"><i class="icon-arrow-down"></i></span>
                                        <h5>业务参数部分</h5>
                                    </a>
                                </div>
                                <div class="collapse in" id="collapseOne">
                                    <div class="widget-content">
                                        <div class="control-group">
                                            <label class="control-label">用户标识信息</label>
                                            <div class="controls">
                                                <input type="text" name="identity_id" id="identity_id">
                                                <span class="help-inline">商户系统用户ID(字母或数字)</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">用户标识类型</label>
                                            <div class="controls">
                                                <input type="text" name="identity_type" id="identity_type">
                                                <span class="help-inline">ID的类型，目前只包括UID</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">交易订单号</label>
                                            <div class="controls">
                                                <input type="text" name="out_trade_no" id="out_trade_no">
                                                <span class="help-inline">商户网站交易订单号，商户内部保证唯一</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">开始时间</label>
                                            <div class="controls">
                                                <input type="text" name="start_time" id="start_time">
                                                <span class="help-block">数字串，一共14位格式为：年[4位]月[2位]日[2位]时[2位]分[2位]秒[2位] </span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">结束时间</label>
                                            <div class="controls">
                                                <input type="text" name="end_time" id="end_time">
                                                <span class="help-block">数字串，一共14位格式为：年[4位]月[2位]日[2位]时[2位]分[2位]秒[2位] </span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">每页大小</label>
                                            <div class="controls">
                                                <input type="text" name="page_size" id="page_size">
                                                <span class="help-block">每页记录数，不超过20，默认20</span>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">页号</label>
                                            <div class="controls">
                                                <input type="text" name="page_no" id="page_no">
                                                <span class="help-block">页号，从1开始，默认为1</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">提交</button>
                                    <input id="reset" type="reset" class="btn btn-primary" value="刷新">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--close-内容页-->
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"></div>
    </div>
    <!--end-Footer-part-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="Scripts/sina_tools.js"></script>
    <script src="Scripts/sina_api.js"></script>
    <script>
        //载入导航栏与头部
        $("#sina_side_Header_part").load("sina_side_Header_part.html");
        //载入基本参数页面
        $("#basicparameter").load("basicparameter.html");
    </script>
    <script src="js/jquery.validate.js"></script>
    <script>
        //业务参数赋值
        $("#identity_type").val("UID");
        $("#identity_id").val($.cookie("identity_id"));
        $("#start_time").val(getNowFormatDate());
        $("#end_time").val(getNowFormatDate());
        //表单验证
        $("#request_form").validate({
            rules: {
                //基本参数验证部分
                service: {
                    required: true
                },
                version: {
                    required: true
                },
                request_time: {
                    required: true
                },
                partner_id: {
                    required: true
                },
                _input_charset: {
                    required: true
                },
                sign_type: {
                    required: true
                },
                //业务参数验证部分
                start_time: {
                    number: true,
                    minlength: 14,
                    maxlength: 14,
                },
                end_time: {
                    number: true,
                    minlength: 14,
                    maxlength: 14,
                },
                page_size: {
                    number: true,
                    maxlength: 2,
                    max: 20
                },
                page_no: {
                    number: true,
                },
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
                $(element).parents('.control-group').addClass('success');
            },
            submitHandler: function (form) {
                    //需要加密的参数数组
                    var Encryptionstr = [""];
                    send(Encryptionstr);
                
            }
        })
    </script>
</body>
</html>
